<div class="row">

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Tools and Materials - Airmon Stationary</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/data-effects/rpi3.svg"/>
          </div>
          <div class="col-lg-6">
            <h1>Raspberry Pi v3.0</h1>
            <a href="http://docs-europe.electrocomponents.com/webdocs/14ba/0900766b814ba5fd.pdf" target="_blank" style="text-decoration: none;">Raspberry Pi v3.0
              Model B Datasheet</a>
          </div>
        </div>


      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Tools and Materials</nb-card-header>
      <nb-card-body>
        <tree [tree]="tree"></tree>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Tools and Materials</nb-card-header>
      <nb-card-body>
        <tree [tree]="tree"></tree>
      </nb-card-body>
    </nb-card>
  </div>

</div>
