@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar,
  ngx-handheld-line,
  ngx-handheld-bar,
  ngx-handheld-bar-horizontal,
  ngx-handheld-multiple-xaxis,
  ngx-handheld-pie,
  ngx-handheld-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.contact {
  display:inline-block;
  margin: 0 1em;
}

.text-center {
  margin: 1em 0;
}
