<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span>{{weather.city.name}}</span>
    </div>
    <div class="date">
      <span>{{today | date}}</span>
    </div>
<!--
    <div class="info">
      <h1><strong> City:</strong>{{weather.city.name}}</h1>
      <h3>longitude:{{weather.city.coord.lon}}</h3>
      <h3>longitude:{{weather.city.coord.lat}}</h3>
      <h3><strong>Temp</strong>:{{weather.list[0].main.temp}}</h3>
      <h3><strong>tempMax:</strong>{{weather.list[0].main.temp_max}}  </h3>
      <h3><strong>tempMin: </strong>{{weather.list[0].main.temp_min}}</h3>
      <h3> <strong>The weather description:</strong> {{weather.list[0].weather[0].description}}</h3>
      <h3> <strong>humidity :</strong>{{weather.list[0].main.humidity}}</h3>

    </div>-->

    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>{{(weather.list[0].main.temp - 273) | number: 0}}&deg;C</span>
        </div>
        <div class="icon">
          <i class="ion-ios-sunny-outline"></i>
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name">max</span>
          <span class="parameter-value">{{(weather.list[0].main.temp_max - 273) | number: 0}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">min</span>
          <span class="parameter-value">{{(weather.list[0].main.temp_min  - 273) | number: 0}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">wind</span>
          <span class="parameter-value">4 km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">hum</span>
          <span class="parameter-value">{{weather.list[0].main.humidity}}%</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day">
        <span class="caption">Latitude</span>
        <i class="ion-ios-cloudy-outline"></i>
        <span class="temperature">{{weather.city.coord.lat}}</span>
      </div>
      <div class="day">
        <span class="caption">Longitude</span>
        <i class="ion-ios-sunny-outline"></i>
        <span class="temperature">{{weather.city.coord.lon}}</span>
      </div>
      <div class="day">

      </div>
    </div>
  </nb-card-body>
</nb-card>
