<div class="row">

    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Airmon - Stationary</nb-card-header>
            <nb-card-body>
                <h3>Data Gathering Results and Analysis</h3>
                <ul class="stat-list-chart">
                    <li>Location: Lapasan</li>
                    <li>Interface: Raspberry Pi v3</li>
                    <li>Programming Language: Python v2.7</li>
                    <li></li>
                    <li></li>
                </ul>
            </nb-card-body>
        </nb-card>
    </div>


  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>CO - NO2 - SO2 (Matrix)</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>

<div class="col-lg-6">
    <nb-card>
        <nb-card-header>Carbon Monoxide Analysis</nb-card-header>
        <nb-card-body>
            <div>
                <div class="carb-mid">
                    <img id="carb-effects" class="co-style" src="assets/data-effects/co-effects.png">

                </div>
                <ul class="cbn-comments">
                    <li class="justify-content-around"><strong>February 1, 2018: </strong>We are still troubleshooting the device. It releases 0 as output.</li>
                    <li class="justify-content-around"><strong>February 2, 2018: </strong>No data were gathered.</li>
                    <li class="justify-content-around"><strong>February 3, 2018: </strong>The particles rose up dramatically to more than 3000 in which it is due to more cars passing by emitting more CO in the places.</li>
                    <li class="justify-content-around"><strong>February 4, 2018: </strong>The particles rose up dramatically to more than 6000 in which it is due to more cars passing by emitting more CO in the places.</li>
                    <li class="justify-content-around"><strong>February 5, 2018: </strong>No data were gathered.</li>
                    <li class="justify-content-around"><strong>February 6, 2018: </strong>The particles drop down dramatically to less than 100 in which it is due to less cars passing by emitting more CO in the places.</li>
                    <li class="justify-content-around"><strong>February 7, 2018: </strong>We are still troubleshooting the device. It releases 0 as output.</li>
                    <li class="justify-content-around"><strong>February 8, 2018: </strong>We are still troubleshooting the device. It releases 0 as output.</li>
                    <li class="justify-content-around"><strong>February 9, 2018: </strong>We are still troubleshooting the device. It releases 0 as output.</li>
                    <li class="justify-content-around"><strong>February 10, 2018: </strong>We are still troubleshooting the device. It releases 0 as output.</li>

                </ul>


            </div>
        </nb-card-body>
    </nb-card>
</div>

    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Carbon Monoxide Analysis</nb-card-header>
            <nb-card-body>
                <div>
                    <h2>What is Carbon Monoxide?</h2>
                        <p>Carbon monoxide, or “CO,” is an odorless, colorless gas that can kill you.</p>
                </div>
                <div>
                    <h2>Stationary: Lapasan</h2>
                    <p>Carbon monoxide, or “CO,” is an odorless, colorless gas that can kill you.</p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>
